<h2>Sign up Mods</h2>

<%= form_for(@user) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

   <p>
    <%= f.label :roles %><br />
    <%= f.radio_button(:role, 'admin') %>
    <%= label_tag(:role, "Administrator") %><br />
    <%= f.radio_button(:role, 'mod', checked: true) %>
    <%= label_tag(:role, "Moderator") %>
  </p>

  <div><%= f.submit "Sign up" %></div>
<% end %>

