<div class="page-header">
  <div class="col-md-offset-5 col-med-2">
    <h1>Orders</h1>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice #</th>
      <th>Recieved</th>
      <th>Created</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.invoice_num, order_path(order) %></td>
      <td><%= order.received %></td>
      <td><%= order.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
      <td>
        <%= link_to "edit", edit_order_path(order), class: 'btn btn-sm btn-info' %>
        <%= link_to "delete", order_path(order), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-sm btn-danger' %>
      </td>
    </tr>
    <% end %>

    <%= will_paginate @orders %>
  </tbody>
</table>
<%= link_to "new", new_order_path, class: 'btn btn-primary' %>
