<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vendor</th>
      <th>Price</th>
      <th>Min qty</th>
      <th>Lead time</th>
      <th>Image url</th>
      <th>Sku</th>
      <th>Notes</th>
      <th>Qty on hand</th>
      <th>Set up fee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.vendor %></td>
        <td><%= product.price %></td>
        <td><%= product.min_qty %></td>
        <td><%= product.lead_time %></td>
        <td><%= product.image_url %></td>
        <td><%= product.sku %></td>
        <td><%= product.notes %></td>
        <td><%= product.qty_on_hand %></td>
        <td><%= product.set_up_fee %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
