<div class="page-header">
  <div class="col-md-offset-4">
    <h1><%= @product.name %> Info</h1>
  </div>
</div>
<div class="col-md-offset-1 col-md-5">
  <dl class="dl-horizontal">
    <dt><strong>Vendor:</strong></dt>
    <dd><%= @product.vendor %></dd><br>
    <dt><strong>Unit Price:</strong></dt>
    <dd>$<%= @product.price %></dd><br>
    <dt><strong>Min Order:</strong></dt>
    <dd><%= @product.min_order_qty %></dd><br>
    <dt><strong>Lead Time:</strong></dt>
    <dd><%= @product.lead_time %> days</dd><br>
    <dt><strong>SKU:</strong></dt>
    <dd><%= @product.sku %></dd><br>
    <dt><strong>Notes:</strong></dt>
    <dd><%= @product.notes %></dd><br>
    <dt><strong>Owned:</strong></dt>
    <dd><%= @product.qty_on_hand %></dd><br>
    <dt><strong>Order QTY:</strong></dt>
    <dd><%= @product.qty_on_order %></dd><br>
    <dt><strong>Setup Fee:</strong></dt>
    <dd>$<%= @product.set_up_fee %></dd>
  </dl>
</div>
<div class="col-md-6">
  <%= image_tag @product.image.url(:medium) %>

</div>
<div class="clearfix"></div><br>
<div class="form-actions col-md-offset-4">
  <%= link_to "back", products_path, class: 'btn btn-default btn-sm'  %>
  <%= link_to "edit", edit_product_path(@product), class: 'btn btn-info btn-sm' %>
  <%= link_to "delete", product_path(@product), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger btn-sm' %>
</div>
