<%= form_for([@order, @line_item], remote: true) do |f| %>
  <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %> <%= f.label :qty %> <%= f.number_field :qty %>
  <div class="actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
