<div id='<%= dom_id(line_item) %>'>
  Item: <%= line_item.product.name %> - Qty: <%= line_item.qty %> -
  <%= line_item.created_at.strftime("Created on: %m/%d/%Y at %I:%M%p") %>
  <%= link_to 'Destroy', order_line_item_path(@order, line_item), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  </small>
</div><br />
